.jumbotron h1{
    background-color: greenyellow;
}

nav span {
    background-color: greenyellow;
}

.jumbotron a {
    background-color: greenyellow;
}

.blog-main .blog-post:nth-of-type(1){
    background-color: greenyellow;
}

.blog-main .blog-post:nth-of-type(1) a{
    background-color: red;
}

nav span:nth-child(2n) {
    background-color: red;
}

.col-md-4 .p-4:nth-child(2) .list-unstyled {
    background-color: aquamarine;
}

.col-md-8 .blog-post:nth-child(3) .blog-post-meta a{
    background-color: red;
}

.col-md-8 .blog-post:last-of-type ul li:nth-child(2){
    background-color: green;
}

.float-right {
    background-color: violet;
}

.blog-pagination .btn:last-child {
    background-color: yellowgreen;
}

.blog-footer .text-center a:last-child {
    background-color: violet;
}

aside ol.list-unstyled li:nth-child(2) {
    background-color: red;
}