*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: 40px 110px 0 110px ;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.logo img {
    max-width: 20%;
}

h1{
    font-size: 75px;
    font-weight: normal;
    line-height: 0.9;
}

h2 {
    color: #d20094;
}

span {
    font-weight: bold;
}

ul {
    margin-left: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

