body {
    box-sizing: border-box;
    margin: 10% 30% 0 30%;
    background-color: #000;
}

.container {
    background-color: #fec300;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 15px;
    box-shadow: 0 0 15px #ffffff;
}