* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 150px;

}

.logo-container {
    text-align: center;
    padding: 10px;
}

.under-logo-container {
    background-color: #fdfbf1;
    border-top: 1pX solid #f1ca48;
    text-align: center;
    padding: 13px;

}

.text-normal {
    font-weight: normal;
}

.title-container {
    font-size: 15px;
    text-align: center;
    color: rgb(44, 43, 43);
    width: 40%;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 33px;

}

.main-container {
    margin: 0 auto;
    max-width: 600px;
}

.main-container p{
    margin-bottom: 15px;
    font-size: 15px;
}

.main-img {
margin-top: 10px;
width: 100%;
border-radius: 10px;

}


.img-container {
    padding: 10px;
    height: 500px;
    background: url("./assets/focaccia.webp");
    background-position: center center;
    border-radius: 8px;
}

.container-link {
    margin: 60px;
    border-left: 1px solid orange;
    padding-left: 16px


}

.container-link h3 {
    color: rgb(174, 116, 9);
}

.link {
    color: rgb(91, 229, 183);
}
.under-img {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 13px;
    text-align: center;
    color: rgb(163, 163, 163);
    font-weight: 300;
}

.title-ingredients{
    border-bottom: 1px solid rgb(3, 155, 104);
    margin: 60px 0 60px 0;
}

.list-container {
    padding: 40px 0 40px 0;
}

.list {
    padding: 10px 0 10px 40px;
}

.list li {
    margin-bottom: 8px;
}

.bold-li {
    font-weight:600;

}

.last-p {
margin: 10px 0 10px 0;
padding: 10px;

}

.under-p{
    padding: 10px;
}